{% set grid_size = theme_var('grid-size') %}
<section class="section {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="flex-block d-flex align-items-start justify-content-between">
            <div class="video-block">
                <div class="inner">
                    <iframe
                            width="100%"
                            height="100%"
                            src="https://www.youtube.com/embed/VW9ZH-Uq97c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>

            </div>
            <div class="text-block">
                {{ content|raw }}
            </div>
        </div>
    </section>
</section>
